<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Woof</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>registrazione</display-name>
    <servlet-name>registrazione</servlet-name>
    <servlet-class>it.ats.controllo.registrazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registrazione</servlet-name>
    <url-pattern>/registrazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>MailRegistrazione</display-name>
    <servlet-name>MailRegistrazione</servlet-name>
    <servlet-class>it.ats.controllo.MailRegistrazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MailRegistrazione</servlet-name>
    <url-pattern>/MailRegistrazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>it.ats.controllo.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>RegistrazioneCaneServlet</display-name>
    <servlet-name>RegistrazioneCaneServlet</servlet-name>
    <servlet-class>it.ats.controllo.RegistrazioneCaneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrazioneCaneServlet</servlet-name>
    <url-pattern>/RegistrazioneCaneServlet</url-pattern>
  </servlet-mapping>
  
  
</web-app>