<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Woof</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>Registrazione</display-name>
    <servlet-name>Registrazione</servlet-name>
    <servlet-class>it.ats.controllo.Registrazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registrazione</servlet-name>
    <url-pattern>/Registrazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>MailRegistrazione</display-name>
    <servlet-name>MailRegistrazione</servlet-name>
    <servlet-class>it.ats.controllo.MailRegistrazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MailRegistrazione</servlet-name>
    <url-pattern>/MailRegistrazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>it.ats.controllo.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>RegistrazioneCaneServlet</display-name>
    <servlet-name>RegistrazioneCaneServlet</servlet-name>
    <servlet-class>it.ats.controllo.RegistrazioneCaneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrazioneCaneServlet</servlet-name>
    <url-pattern>/RegistrazioneCaneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Verificato</display-name>
    <servlet-name>Verificato</servlet-name>
    <servlet-class>it.ats.controllo.Verificato</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Verificato</servlet-name>
    <url-pattern>/Verificato</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>it.ats.controllo.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>MailPrenotazione</display-name>
    <servlet-name>MailPrenotazione</servlet-name>
    <servlet-class>it.ats.controllo.MailPrenotazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MailPrenotazione</servlet-name>
    <url-pattern>/MailPrenotazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UpdateUtente</display-name>
    <servlet-name>UpdateUtente</servlet-name>
    <servlet-class>it.ats.controllo.UpdateUtente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUtente</servlet-name>
    <url-pattern>/UpdateUtente</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>it.ats.controllo.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DiventaDogSitter</display-name>
    <servlet-name>DiventaDogSitter</servlet-name>
    <servlet-class>it.ats.controllo.DiventaDogSitter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiventaDogSitter</servlet-name>
    <url-pattern>/DiventaDogSitter</url-pattern>
  </servlet-mapping>
    <servlet>
    <display-name>DiventaToelettatore</display-name>
    <servlet-name>DiventaToelettatore</servlet-name>
    <servlet-class>it.ats.controllo.DiventaToelettatore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiventaToelettatore</servlet-name>
    <url-pattern>/DiventaToelettatore</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>EliminaCane</display-name>
    <servlet-name>EliminaCane</servlet-name>
    <servlet-class>it.ats.controllo.EliminaCane</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminaCane</servlet-name>
    <url-pattern>/EliminaCane</url-pattern>
  </servlet-mapping>

   <servlet>
    <display-name>PassaggioCane</display-name>
    <servlet-name>PassaggioCane</servlet-name>
    <servlet-class>it.ats.controllo.PassaggioCane</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassaggioCane</servlet-name>
    <url-pattern>/PassaggioCane</url-pattern>
  </servlet-mapping>

  <servlet>
    <display-name>VediDogSitter</display-name>
    <servlet-name>VediDogSitter</servlet-name>
    <servlet-class>it.ats.controllo.VediDogSitter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VediDogSitter</servlet-name>
    <url-pattern>/VediDogSitter</url-pattern>
  </servlet-mapping>

   <servlet>
    <display-name>VediToelettatori</display-name>
    <servlet-name>VediToelettatori</servlet-name>
    <servlet-class>it.ats.controllo.VediToelettatori</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VediToelettatori</servlet-name>
    <url-pattern>/VediToelettatori</url-pattern>
  </servlet-mapping>
</web-app>